numpy
Pillow
rdp
scipy
scikit-image
scikit-learn
scikit-build
matplotlib
mahotas
plyfile
psutil
cairosvg
certifi
pandas
pytest
coverage
coveralls
open3d
opencv-python-headless
openpyxl
click
PyYAML
imutils
mayavi